.login-container
  @media #{$medium-up}
    margin-top: 100px
  .logo-black
    display: block
    margin: 0 auto 40px auto
    width: 200px
    @media #{$medium-up}
      width: 100%
      margin-bottom: 0px
