doctype html
html
  head
    title= __("terms_of_use_title")
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css", rel="stylesheet", type="text/css")
  body
    .container
      h1= __("main_title")
      hr
      h2= __("terms_of_use_title")
      p !{__("terms_of_use_text").replace(/\n/g, "<br>")}
